
@{
    ViewBag.Title = "Monica - Sistema Web";
    <link href="~/Content/css/SAP.css" rel="stylesheet" />
}

<div id="app">
    @Html.Partial("~/Views/Componentes/_LoadingPage.cshtml")

    @Html.Partial("~/Views/Componentes/_BotonesNavegacion.cshtml")

    @*-------------------------------------------------------------------*@
    @*  GENERAL*@
    @*-------------------------------------------------------------------*@

    @*  DIV PARA LOGUEARSE *@
    @Html.Partial("~/Views/Paginas/_inicioSeccion.cshtml")

    @*  DIV PARA SELECCIONAR UNA EMPRESA *@
    @Html.Partial("~/Views/Paginas/_Empresas.cshtml")

    @*  DIV DEL MENU *@
    @Html.Partial("~/Views/Paginas/_Menu.cshtml")

    @*-------------------------------------------------------------------*@
    @*  MODULO - CAJA *@
    @*-------------------------------------------------------------------*@

    @*  DIV QUE MUESTRA EL CRUD DE LOS MOVIMIENTOS *@
    @Html.Partial("~/Views/Paginas/Caja/_CrudMovimientos.cshtml")

    @*  DIV QUE MUESTRA LOS CUADRES DE CAJA *@
    @Html.Partial("~/Views/Paginas/Caja/_CuadresCaja.cshtml")
</div>

@section scripts{
    <script>
        window.addEventListener('load',
            () => document.getElementById('cargando').setAttribute('hidden', true));
    </script>

    <script src="~/Scripts/js/SAP.js"></script>
}